@model IEnumerable<dt191g_moment32.Models.Artist>

@{
    ViewData["Title"] = "Artister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artister</h2>

<div>
    <a class="btn add-btn" asp-action="Create">Ny artist <i class="fa-solid fa-user-plus"></i></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
