@model dt191g_moment32.Models.Loan

@{
    ViewData["Title"] = "Återlämna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Återlämna</h2>

<h3 class="border-bottom">Är du säker på att du vill lämna tillbaka skivan?</h3>
<div>
    <h4>Lån</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cd.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="border-top">
        <input type="hidden" asp-for="LoanId" />
        <span class="link delete-wrapper"><input type="submit" value="Återlämna" class="btn-delete" /></span> |
        <a class="link" asp-action="Index">Tillbaka</a>
    </form>
</div>
