@model dt191g_moment32.Models.Loan

@{
    ViewData["Title"] = "Detaljer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h3 class="border-bottom">Lån</h3>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cd.Title)
        </dd>
    </dl>
</div>
<div class="border-top">
    <a class="link link-edit" asp-action="Edit" asp-route-id="@Model?.LoanId">Redigera</a> |
    <a class="link" asp-action="Index">Tillbaka</a>
</div>
